body {
	 
	background-color: grey;
	margin: auto;
	padding: auto;
	
}

ul li {
    list-style: none;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    height: 40px;
}

ul li a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: white;
	margin: 5px;
	padding: 3px;
}

.navbar {
    background-color: red;
	height: 50px;
	width: 1000px;
	margin-left: 200px;
	margin-top: 100px;
	
}

ul li:hover {
    background: purple;
	border-radius: 30px;
}

.navigation .current {
    background: #C0C0C0;
	border-radius: 30px;
}

.logo img{
	background-color: blue;
	height: 100px;
	width: 150px;
	padding: 10px;
	border-radius: 100px;
}

h3 {
	color: white;
	font-family: arial;
	font-size: 0.9em;
}

p{
	color: white;
	padding-left: 10px;
}

#room-service{
	margin:50px;
	width: 400px;
	float: left;
	text-align: center;
	
}
#room-service img{
	width: 150px;
	border: 3px solid;
	border-radius: 50%;
	border-color: white;

}

#restaurant{
	margin: 50px;
	float: right;
	text-align: center;
	width: 400px;
}
#restaurant img{
	width: 150px;
	border: 3px solid;
	Border-radius: 50%;
	border-color: white;
}

#sauna{
	float: left;
	margin: 50px;
	width: 400px;
	text-align: center;
}
#sauna img{
	max-width: 150px;
	border: 3px solid;
	border-radius: 50%;
	border-color: white;
}